# ==============================================================================
# Chezmoi Local Host Configuration Template
# This file is interpreted by Chezmoi during 'chezmoi init' to bake local state.
# ==============================================================================

{{- $git_name := promptStringOnce . "git_name" "Enter your global Git user name" -}}
{{- $git_email := promptStringOnce . "git_email" "Enter your global Git email address" -}}

{{- $is_heavy := promptBoolOnce . "is_heavy_workstation" "Is this a heavy developer workstation? (install LLVM/LLD etc.)" false -}}
{{- $enable_blog_debug := promptBoolOnce . "enable_blog_debug" "Enable blog website local debugging? (install hugo/gh etc.)" false -}}

{{- $deepseek_api_key := promptStringOnce . "DEEPSEEK_API_KEY" "Enter your deepseek api key, return empty if don't set" -}}
{{- $install_aider := promptBoolOnce . "install_aider" "Install and configure aider?" false }}

[data]
    # Identity Configuration
    git_name = {{ $git_name | quote }}
    git_email = {{ $git_email | quote }}

    # Project Configuration
    is_heavy_workstation = {{ $is_heavy }}
    enable_blog_debug = {{ $enable_blog_debug }}

    # Agent Configuration
    DEEPSEEK_API_KEY = {{ $deepseek_api_key | quote }}
    install_aider = {{ $install_aider }}
