[user]
	name = {{ .git_name }}
	email = {{ .git_email }}
[include]
	path = ~/.config/git/gitalias.txt
[init]
	defaultBranch = main
[core]
	editor = nvim
  quotepath = false
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[i18n "commit"]
  encoding = utf-8
[i18n]
  logoutputencoding = utf-8
