[user]
	name = {{ .git_name }}
	email = {{ .git_email }}
[include]
	path = ~/.config/git/gitalias.txt
[init]
	defaultBranch = main
[core]
	editor = nvim
[diff]
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
